// Couleurs
$primary: #6366f1;
$gray-50: #f9fafb;
$gray-200: #e5e7eb;
$gray-500: #5c6c86;
$gray-700: #374151;
$gray-900: #212731;
$danger: red;

// Espacements
$space-2: 0.5rem;
$space-3: 0.75rem;
$space-4: 1rem;
$space-6: 1.5rem;
